/* CSS reset */
@import url('./reset.css');

html,
body {
  width: 100vw;
}

:root {
  --primary-color: #ff0000;
  --secondary-color: #ffd600;
  --text-color: #333;
  --background-color: #f0f0f0;
  --highlight-color: #fff;

  /* Spacing */
  --section-padding: 3rem 10rem 5rem;
  --section-gap: 4rem;
  --text-block-spacing: 2rem;

}

.alert-bar {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

body {
  background-color: var(--secondary-color);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow-x: hidden;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.625rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 18px;
  line-height: 1.4;
}

button {
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-transform: none;
  letter-spacing: 1px;
}

.highlight {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  text-align: justify;
  padding: 2px 4px;
  display: inline-block;
}

section#intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--section-padding);
  gap: var(--section-gap);

  div#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    gap: var(--text-block-spacing);

    button {
      width: 80%;
    }
  }

  div#video {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
    aspect-ratio: 16 / 9;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 10px;
    }
  }

  button {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    color: #fff;
    border: none;
    padding: 20px 30px;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    background-color: #cc0000;
  }

  button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

section#projeto {
  width: 100%;
  background-color: #f0f0f0;
  color: black;
  padding: var(--section-padding);
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--section-gap);

  div {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  > div{
    gap: var(--text-block-spacing);
    > div {
      gap: 1rem;
    }
  }
  
  div:nth-child(2) {
    width: fit-content;
    justify-content: center;

    div {
      width: fit-content;
    }
    p {
      width: fit-content;
      display: inline-block;
    }
  }

  button {
    background-color: #ff5722;
    width: 80%;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    background-color: #e64a19;
  }

  button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .highlight {
    background-color: #ffd600;
    color: black;
    font-weight: bold;
    display: inline-block;
  }
}

section#benefits {
  background-color: #f9f9f9;
  padding: var(--section-padding);
  text-align: center;

  .benefits-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

    .benefit {
      width: 30%;
      padding: 30px 40px;
      background: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      img {
        width: 180px;
        height: auto;
        border-radius: 40%;
        display: block;
        margin: 0 auto 10px;
      }

      h3 {
        margin-top: 15px;
        color: #ff7700;
      }
    }
  }
}

section#cta {
  width: 100%;
  background-color: #ff7700;
  color: white;
  text-align: center;
  padding: var(--section-padding);

  p {
    margin: 15px 0;
  }

  button {
    background-color: white;
    color: #ff7700;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    background-color: #f8f9fa;
  }

  button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

section#faq {
  padding: var(--section-padding);
  width: 100%;
  background-color: #f0f0f0;

  .faq-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  h2 {
    text-align: center;
  }
  
  .faq-item {
    width: 100%;
    margin-bottom: 15px;
    max-width: 800px;
  }

  .faq-question {
    width: 100%;
    text-align: left;
    padding: 15px;
    border: none;
    background-color: var(--highlight-color);
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .faq-answer {
    display: none;
    padding: 10px;
    background-color: #fff;
    border-left: 4px solid #ff0000;
    margin-top: 5px;
  }
  button {
    background-color: #dfe6e9;
    color: #333;
    border: none;
  }

  button:hover {
    background-color: #b2bec3;
    color: #222;
    border-color: none;
  }
}

footer {
  background-color: #000;
  /* Fundo preto */
  color: #fff;
  /* Texto branco */
  width: 100%;
  padding: 200px;
  /* Espaço interno */
  font-size: 16px;
  /* Tamanho do texto */
  margin: 0px;
  position: relative;
}